:root {
    --amarillo: #f4b036;
    --naranja: #f17144;
    --rojo: #ef3353;
    --marron: #b03851;
    --cafe: #723e4e;
}

/*Clases genericas*/
.sombra {
    -webkit-box-shadow: 9px 11px 5px -1px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 9px 11px 5px -1px rgba(0, 0, 0, 0.22);
    box-shadow: 9px 11px 5px -1px rgba(0, 0, 0, 0.22);
}

/*  Globales **/
html {
    font-size: 62.5%;
    box-sizing: border-box;
    /* Hack para Box Model **/
    scroll-snap-type: y mandatory;
}

body {
    font-size: 16px;
    /* 1rem = 10px */
    font-family: "Kanit", sans-serif;

    /* font-family: 'Krub', sans-serif; */
    background-image: conic-gradient(white, var(--amarillo));
    /* background: linear-gradient(to right, #3498db, #2c3e50); */



}

/* Tipografia */
h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
    /*color: var(--marron);
    background-color: var(--naranja);
    text-transform: uppercase;*/
}

h3 {
    font-size: 1.8rem;
}

h1,
h2,
h3 {
    text-align: center;
}

/*contenedores*/

.contenedor-hero {
    width: 100%;
    height: 50rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero:nth-of-type(1) {
    background-image: url("https://images.unsplash.com/photo-1624286017069-e3e645c338c5?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-repeat: no-repeat;
    background-size: cover;
    height: 45rem;
    position: relative;
    margin-bottom: 2rem;
}

.hero:nth-of-type(2){
    margin-top: 2rem;
    background-image: url("https://images.unsplash.com/photo-1625860927329-df5602da7729?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-position: center;
    height: 45rem;
}

.contenedor-hero h1 {
    color: white;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}

.contenedor-productos {
   display: flex;
   flex-direction: column;
    background-color: var(--marron);
}

.contenedor-productos--producto {
    background-color: var(--cafe);
    text-align: center;
    color: white;
    padding: 2rem;
    margin: 3rem;
}

.contenedor-productos--producto svg {
    background-color: var(--naranja);
    border-radius: 50%;
    padding: 2rem;
}

.contenedor h2 {
    background-color: var(--naranja);
    color: var(--marron);
    text-transform: uppercase;
}


.contenedor-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100rem;
    background-color: var(--marron);
}

.contenedor-nosotros .hero{

    background-image: url("https://images.unsplash.com/photo-1622970976780-c155a42ba86d?q=80&w=1587&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");

    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    margin-top: 0rem;

}


.contenedor-nosotros--informacion{
    background-color: var(--cafe);
    color: white;
    text-align: justify;
    padding: 1rem;
}

.contenedor-recomendaciones {
    color: white;
    text-align: center;
    padding: 2rem;
    background-color: var(--marron);
    display: flex;
    flex-direction: column;


}

.contenedor-recomendaciones--informacion{
    background-color: var(--cafe);
    padding: 2rem;
    margin: 2rem;
}



.contenedor-recomendaciones img {
    width: 30%;
}

.contenedor-encuentranos{
    background-color: var(--marron);
    text-align: center;
    margin: 0 auto;
    display: flex;
    flex-direction: column;


}

.contenedor-encuentranos img {
    height: 5rem;
    text-align: center;
    padding: 1rem;
    margin: 2rem;
}

/*Animación*/
.animacion {
    animation-duration: 0.1s;
    /* El ritmo de la animación es ease-in-out, es decir, la velocidad de la animación aumenta al principio y disminuye al final */
    animation-timing-function: ease-in-out;
    /* El nombre de la regla @keyframes que describe los fotogramas de la animación es "elevar" */
    animation-name: elevar;
    /* La animación se repite una vez */
    animation-iteration-count: 1;
    /* La animación se retrasa 0.5 segundos */
    animation-delay: 0.5s;
    /* Se aplica una transición a la propiedad transform con una duración de 0.5 segundos y una función ease-in-out */
    transition: transform 0.5s ease-in-out;
}

.animacion:hover, .animacion:focus{
    transition: transform 0.5s ease-in-out;
    /* El contenedor se eleva 15 píxeles */
    transform: translateY(-20px);
}

@keyframes elevar {

    /* En el primer fotograma, el contenedor tiene una posición inicial de 0 píxeles */
    from {
        transform: translateY(0);
    }

    /* En el último fotograma, el contenedor tiene una posición final de 10 píxeles */
    to {
        transform: translateY(-20px);
    }
}


/* Navegacion Principal */
.nav-bg {
    background-color: var(--cafe);
}

.navegacion-principal {
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
}

.navegacion-principal a {
    display: block;
    text-align: center;
    color: var(--amarillo);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 700;
    padding: 1.5rem;

}

.navegacion-principal a:hover {
    background-color: var(--naranja);
    color: var(--marron);
}

/*Query*/
@media (min-width: 768px) {
    .navegacion-principal {
        flex-direction: row;
        justify-content: space-between;
    }

    .contenedor-productos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;

    }

    .contenedor-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
        height: 80rem;
    }

    .contenedor-nosotros--flex {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 2rem;
    }

    .contenedor-recomendaciones {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }

    .contenedor-recomendaciones img {
        width: 40%;
        text-align: center;
        margin: 0 auto;
        padding: auto;
    }

    .contenedor-encuentranos{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
        height: 10rem;
        justify-content: center;
        align-content: center;
    }

    .contenedor-encuentranos img {
        height: 5rem;
    }
}